vrf definition {{vrf_name}}
 rd {{route_distinguisher}}
 !
 {%- if ipv4_enabled is defined %}
 address-family ipv4
  route-target export 100:1
  route-target import 100:1
 exit-address-family
 !
 {%- endif %}
 {%- if ipv6_enabled is defined %}
 address-family ipv6
  route-target export 100:1
  route-target import 100:1
 exit-address-family
 !
 {%- endif %}
